{% extends 'students/base.html' %}

{% block title %}Academic Policy - Aluno {% endblock %}


{% block content %}
      <div class="container mx-auto px-4 py-8">
      <h1 class="text-3xl font-bold mb-6">Academic Policy</h1>
      <div class="prose dark:prose-dark max-w-none">
            <h2 class="text-lg font-black py-4">1. Academic Integrity</h2>
            <p>
            Aluno is committed to upholding the highest standards of academic
            integrity. Students are expected to complete all quizzes and exams
            honestly and without unauthorized assistance.
            </p>
      
            <h2 class="text-lg font-black py-4">2. Cheating and Plagiarism</h2>
            <p>
            Any form of cheating or plagiarism is strictly prohibited. This
            includes, but is not limited to, copying answers from others,
            using unauthorized resources, or submitting work that is not your own.
            </p>
      
            <h2 class="text-lg font-black py-4">3. Consequences of Violations</h2>
            <p>
            Violations of the academic policy may result in penalties, including
            but not limited to failing the quiz or exam, suspension from the
            platform, or other disciplinary actions as deemed appropriate by the
            administration.
            </p>
      
            <h2 class="text-lg font-black py-4">4. Reporting Violations</h2>
            <p>
            Students and instructors are encouraged to report any suspected
            violations of the academic policy to the administration for review.
            </p>
      
            <h2 class="text-lg font-black py-4">5. Review and Updates</h2>
            <p>
            This academic policy is subject to periodic review and updates. Users
            will be notified of any significant changes.
            </p>
      </div>
      <footer class="bg-white dark:bg-background-dark/50 border-t border-border-light dark:border-border-dark">
            <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
                  <p class="text-sm text-subtle-light dark:text-subtle-dark">
                        © 2026 Aluno. All rights reserved.
                  </p>
            </div>
      </footer>
      </div>
{% endblock %}