{% extends 'students/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
  <div class="min-h-screen">
    {% include 'students/partials/student-header.html' %}
    <main class="flex-1 px-4 sm:px-6 lg:px-8 py-8 mx-auto max-w-lg">
      <div class="">
        <div class="bg-white dark:bg-gray-900/50 p-8 rounded-xl shadow-lg border border-gray-200 dark:border-gray-700/50 w-lg">
                <div>
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-center text-sm text-red-600">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                    <h2 class="mt-6 text-center text-2xl font-bold text-gray-700 dark:text-white">Change password</h2>
                </div>
                <form action="{% url 'quiz:change-password' %}" class="mt-8 space-y-6" method="POST">
                    {% csrf_token %}
                    <div class="rounded-lg space-y-4">
                        <div>
                            <label class="sr-only" for="new_password">New password</label>
                            {% render_field form.new_password class="form-input block w-full px-3 py-3 border border-gray-300 dark:border-gray-700 bg-background-light dark:bg-background-dark text-gray-900 dark:text-white rounded-lg focus:outline-none focus:ring-primary focus:border-primary focus:z-10 sm:text-sm" %}
                        </div>
                        <span class="text-gray-500 text-sm"> > Atleast 8 characters.</span> <br>
                        <!-- <span class="text-gray-500 text-sm"> > Must container letters, numbers and capital letters.</span> -->
                        <div>
                            <label class="sr-only" for="confirm_password">Confirm password</label>
                            {% render_field form.confirm_password class="form-input block w-full px-3 py-3 border border-gray-300 dark:border-gray-700 bg-background-light dark:bg-background-dark text-gray-900 dark:text-white rounded-lg focus:outline-none focus:ring-primary focus:border-primary focus:z-10 sm:text-sm" %}
                        </div>
                    </div>
                    <div>
                        <button
                            class="group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-bold rounded-lg text-white bg-primary hover:bg-opacity-90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary transition-colors"
                            type="submit">
                            Change password
                        </button>
                    </div>
                </form>
        </div>
      </div>
    </main>
  </div>
{% endblock %}