{% extends 'students/base.html' %}

{% load static %}

{% block content %}
  <div class="flex h-screen relative">
    {% include 'students/student-sidebar.html' %}
    <main class="flex-grow container mx-auto px-4 sm:px-6 lg:px-8 py-8 md:py-12">
      <div
        class="max-w-4xl mx-auto bg-white dark:bg-background-dark border border-border-light dark:border-border-dark rounded-xl shadow-sm overflow-hidden">
        <div class="p-6 md:p-8">
          <div class="mb-8">
            <h1 class="text-3xl md:text-4xl font-bold text-foreground-light dark:text-foreground-dark">
              Exam Details
            </h1>
            <p class="text-muted-light dark:text-muted-dark mt-2">
              Learn more about the exam before you start.
            </p>
          </div>
        
          <div class="space-y-6">
            <div
              class="grid grid-cols-1 md:grid-cols-3 gap-y-4 gap-x-8 pb-6 border-b border-border-light dark:border-border-dark">
              <p class="text-sm font-medium text-muted-light dark:text-muted-dark">
                Subject
              </p>
              <p class="md:col-span-2 text-sm text-foreground-light dark:text-foreground-dark font-semibold">
                {{ quiz.subject.name }}
              </p>
            </div>
            <div
              class="grid grid-cols-1 md:grid-cols-3 gap-y-4 gap-x-8 pb-6 border-b border-border-light dark:border-border-dark">
              <p class="text-sm font-medium text-muted-light dark:text-muted-dark">
                Total Questions
              </p>
              <p class="md:col-span-2 text-sm text-foreground-light dark:text-foreground-dark font-semibold">
                {{ quiz.questions_count }}
              </p>
            </div>
            <div
              class="grid grid-cols-1 md:grid-cols-3 gap-y-4 gap-x-8 pb-6 border-b border-border-light dark:border-border-dark">
              <p class="text-sm font-medium text-muted-light dark:text-muted-dark">
                Time Allocated
              </p>
              <p class="md:col-span-2 text-sm text-foreground-light dark:text-foreground-dark font-semibold">
                {{ quiz.duration }} minutes
              </p>
            </div>
            <div
              class="grid grid-cols-1 md:grid-cols-3 gap-y-4 gap-x-8 pb-6 border-b border-border-light dark:border-border-dark">
              <p class="text-sm font-medium text-muted-light dark:text-muted-dark">
                Start Date
              </p>
              <p class="md:col-span-2 text-gray-600 text-sm text-foreground-light dark:text-foreground-dark font-semibold">
                {{ quiz.start_date|date:"F j, Y" }}
              </p>
            </div>
            <div
              class="grid grid-cols-1 md:grid-cols-3 gap-y-4 gap-x-8 pb-6 border-b border-border-light dark:border-border-dark">
              <p class="text-sm font-medium text-muted-light dark:text-muted-dark">
                End Date
              </p>
              <p class="md:col-span-2 text-gray-600 text-sm text-foreground-light dark:text-foreground-dark font-semibold">
                {{ quiz.due_date|date:"F j, Y" }}
              </p>
            </div>
            <div
              class="grid grid-cols-1 md:grid-cols-3 gap-y-4 gap-x-8 pb-6 border-b border-border-light dark:border-border-dark">
              <p class="text-sm font-medium text-muted-light dark:text-muted-dark">
                Start Time
              </p>
              <p class="md:col-span-2 text-gray-600 text-sm text-foreground-light dark:text-foreground-dark font-semibold">
                {{ quiz.start_date|date:"g:i a" }}
              </p>
            </div>
            <div
              class="grid grid-cols-1 md:grid-cols-3 gap-y-4 gap-x-8 pb-6 border-b border-border-light dark:border-border-dark">
              <p class="text-sm font-medium text-muted-light dark:text-muted-dark">
                End Time
              </p>
              <p class="md:col-span-2 text-gray-600 text-sm text-foreground-light dark:text-foreground-dark font-semibold">
                {{ quiz.due_date|date:"g:i a" }}
              </p>
            </div>
            <div
              class="grid grid-cols-1 md:grid-cols-3 gap-y-4 gap-x-8 pb-6 border-b border-border-light dark:border-border-dark">
              <p class="text-sm font-medium text-muted-light dark:text-muted-dark">
                Status
              </p>
              <p class="md:col-span-2 text-sm text-foreground-light dark:text-foreground-dark font-semibold">
                {% if quiz.due_date < current_time %}
                  <span class="text-red-500 rounded-full bg-red-200 px-4 py-1">Expired</span>
                {% elif quiz.due_date|timeuntil:current_time %}
                  <span class="text-green-500">Due in {{ quiz.due_date|timeuntil:current_time }}</span>
                {% endif %}
              </p>
            </div>
            <div
              class="grid grid-cols-1 md:grid-cols-3 gap-y-4 gap-x-8 pb-6 border-b border-border-light dark:border-border-dark">
              <p class="text-sm font-medium text-muted-light dark:text-muted-dark">
                Teacher
              </p>
              <p class="md:col-span-2 text-sm text-foreground-light dark:text-foreground-dark font-semibold">
                {{ quiz.teacher }}
              </p>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-y-4 gap-x-8">
              <p class="text-sm font-medium text-muted-light dark:text-muted-dark">
                Instructions
              </p>
              <p class="md:col-span-2 text-sm text-foreground-light dark:text-foreground-dark">
                {{ quiz.description }}
              </p>
            </div>
          </div>
        </div>
        <div
          class="px-6 md:px-8 py-4 bg-background-light dark:bg-background-dark/50 border-t border-border-light dark:border-border-dark flex justify-end">
          {% if quiz.due_date < current_time %}
            <button disabled
              class="inline-flex items-center justify-center rounded-full h-10 px-4 bg-gray-400 text-white text-base font-bold tracking-wide shadow-lg cursor-not-allowed">
              <span class="mr-2"> <i class="fa-solid fa-lock"></i></span>
              <span>Exam Expired</span>
            </button>
          {% elif quiz.start_date <= current_time and current_time <= quiz.due_date %}
            <button data-modal-target="popup-modal" data-modal-toggle="popup-modal"
            class="inline-flex items-center justify-center rounded-full h-10 px-4 bg-primary text-white text-base font-bold tracking-wide shadow-lg hover:bg-primary/90 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary/50 dark:focus:ring-offset-background-dark transition-all js-attempt-quiz-button">
            <span class="mr-2"> <i class="fa-solid fa-play"></i></span>
            <span>Start Exam</span>
            <svg id="loading-spinner" class="px-2 hidden animate-spin ml-2 h-8 w-8 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
          </button>
          {% elif quiz.start_date > current_time %}
            <button disabled
              class="inline-flex items-center justify-center rounded-full h-10 px-4 bg-gray-400 text-white text-base font-bold tracking-wide shadow-lg cursor-not-allowed">
              <span class="mr-2"> <i class="fa-solid fa-lock"></i></span>
              <span>Upcoming Exam</span>
            </button>
          {% endif %}
        </div>
      </div>
    </main>
  </div>
  <!-- Add confirmation pop up to confirm starting the quiz -->
  <div id="popup-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 bottom-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full bg-black/50 h-full">
      <div class="relative p-4 w-full max-w-md max-h-full">
          <div class="relative bg-background-light border border-gray-100 rounded-lg shadow-sm p-4 md:p-6">
                  <button type="button" class="absolute top-3 end-2.5 text-gray-700 bg-transparent hover:bg-gray-400 hover:text-heading rounded-full text-sm w-9 h-9 ms-auto inline-flex justify-center items-center" data-modal-hide="popup-modal">
                      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/></svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              <div class="p-4 md:p-5 text-center">
                  <svg class="mx-auto mb-4 text-fg-disabled w-12 h-12 text-red-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>
                  <h3 class="mb-6 text-body">Are you sure you want to start this exam?. Once you start, you cannot pause or exit. </h3>
                  <div class="flex items-center space-x-4 justify-center">
                      <form action="{% url 'quiz:attempt-quiz' quiz.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="text-white bg-primary box-border border border-transparent hover:bg-primary/90 shadow-xs font-medium leading-5 rounded-lg text-sm px-4 py-2.5 focus:outline-none" id="continue-button">
                          Continue
                        </button>
                      </form>
                      <button data-modal-hide="popup-modal" type="button" class="text-body bg-gray-300 box-border border border-default-medium hover:bg-gray-300/80 shadow-xs font-medium leading-5 rounded-lg text-sm px-4 py-2.5 focus:outline-none">Cancel</button>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <script src="{% static 'js/quiz-details.js' %}" defer></script>
{% endblock %}